%h1 Recent Good Eats
%ul
  - @recent_restaurants.each_with_index do |rest, index|
    %li{:class => "recent-restaurant", "data-row".to_sym => "#{index}"}
      %a{:href => "/restaurants/#{rest.id}"}= rest.name
= link_to "Show full list of restaurants", restaurants_path
